:root {
    --adminBgColor: rgba(0, 0, 100, 0.563);
    --adminBgColorOpaque: rgba(0, 0, 100);
    --adminTitles: rgba(67, 202, 255, 0.963);
    --inputBgColor: rgb(232, 240, 254);
    --windowColor: rgba(0, 0, 0, 0.356);
    --deleteColor: red;
    --goodColor: rgb(28, 255, 28);
}

.shadow {
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.75);
}

.adminSection {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    width: 70vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: var(--adminBgColor);
    border-radius: 30px;
}

.adminTitle {
    font-size: 3rem;
    text-align: center;
    color: var(--adminTitles);
    margin-top: 20px;
}

.adminContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 80%;
    padding: 20px;
    margin-top: 20px;
}

.adminUserList {
    background-color: var(--windowColor);
    padding: 5px;
    border-radius: 20px;
    border: 2px solid var(--adminTitles);
    width: 40%;
    margin-right: 20px;
}

.adminUserListTitle {
    font-size: 2rem;
    text-align: center;
    color: var(--adminTitles);
}

.adminUserListContainer {
    list-style: none;
}

.adminUserListUniques {
    line-height: 1.75;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.adminUserListUniques span {
    color: var(--inputBgColor);
    font-size: 1.25rem;
}

.adminUserListUniques button {
    background-color: var(--adminTitles);
    color: var(--inputBgColor);
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.adminUserListUniques button:hover {
    background-color: var(--inputBgColor);
    color: var(--adminTitles);
    border: 2px solid var(--adminTitles);
}



.adminSelectedContainer {
    background-color: var(--windowColor);
    padding: 5px;
    border-radius: 20px;
    border: 2px solid var(--adminTitles);
    width: 40%;
    margin-left: 20px;
}

.adminSelectedUserDataContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 40%;
}

.adminSelectedUserTitle {
    font-size: 2rem;
    text-align: center;
    color: var(--adminTitles);
}

.adminSelectedUserData p {
    line-height: 1.75;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

.adminSelectedUserData p span {
    width: 100%;
    color: var(--inputBgColor);
    word-wrap: break-word;
}

.adminSelectedUserData p :nth-child(1) {
    text-align: left;
    color: var(--adminTitles)
}

.adminSelectedUserData p :nth-child(2) {
    text-align: right;
}

.adminSelectedUserPassword {
    color: var(--inputBgColor);
    word-wrap: break-word;
    padding: 0 10px;
}

.adminUserListUniques span {
    color: var(--inputBgColor);
    font-size: 1.25rem;
}

.adminMutateContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    height: 50%;
}

.adminUpdateContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 50%;
}

.adminUpdateTitle {
    font-size: 2rem;
    text-align: center;
    color: var(--adminTitles);
}

.adminUpdateFormContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 30%; */
}

.adminNewEmailInput {
    border-radius: 10px;
    border: 2px inset var(--adminTitles);
    background-color: var(--inputBgColor);
    color: black;
    font-size: 1rem;
    padding: 5px;
    text-align: center;
}

.adminUpdateFormContainer button {
    background-color: var(--adminTitles);
    color: var(--inputBgColor);
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.adminUpdateFormContainer button:hover {
    background-color: var(--goodColor);
    color: black;
    border: 2px solid var(--goodColor);
}

.adminDeleteContainer {
    padding: 10px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.adminDeleteTitle {
    font-size: 2rem;
    text-align: center;
    color: var(--adminTitles);
}

.adminDeleteContainer button {
    background-color: var(--adminTitles);
    color: var(--inputBgColor);
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    align-self: flex-end;
}

.adminDeleteContainer button:hover {
    background-color: var(--deleteColor);
    color: var(--inputBgColor);
    border: 2px solid var(--deleteColor);
}

.modalContainer {
    background-color: rgba(32, 32, 32, 0.479);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modalCard {
    background-color: black;
    border-radius: 20px;
    border: 2px solid var(--deleteColor);
    width: 30vw;
    height: 30vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalTitle {
    font-size: 2rem;
    text-align: center;
    color: var(--adminTitles);
}

.modalCard p {
    line-height: 1.75;
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    color: var(--inputBgColor);
    font-size: 1.25rem;
    text-align: center;
    margin: 10px 0;
}

.modalBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    padding: 0 10px;
}

.modalBtnContainer button {
    background-color: var(--adminTitles);
    color: var(--inputBgColor);
    border-radius: 10px;
    padding: 5px;
    font-size: 1.75rem;
    cursor: pointer;
    width: 100px;
}

.modalBtnContainer :nth-child(1):hover {
    background-color: var(--deleteColor);
    color: var(--inputBgColor);
    border: 2px solid var(--deleteColor);
}

.modalBtnContainer :nth-child(2):hover {
    background-color: var(--goodColor);
    color: black;
    border: 2px solid var(--goodColor);
}