*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background: linear-gradient(100deg, #aba9a9, #898989, #807f7f,#aba9a9, #585858);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}  

.HomepageSection {
    position: relative;
    z-index: 1;
}
.HomepageHeading {
    color: white;
    text-align: center;
    font-size: 4rem;
}
.HomepageHeading {
    color: #fbf6f7;
}
