::-webkit-scrollbar {
	height: 1.5rem;
}

/* track */
::-webkit-scrollbar-track {
	display: none;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 20px;
}

/* handle */
::-webkit-scrollbar-thumb {
	background: rgba(67, 202, 255, 0.991);
	border-radius: 10px;
	border: 2px solid black;
}

::-webkit-scrollbar-thumb:hover {
	cursor: pointer;
}

body {
	overflow: hidden;
}

.galleryMain {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	width: 100vw;
}

.galleryTitle {
	color: rgba(67, 202, 255, 0.963);
	font-size: 4rem;
	font-family: "Orbitron", sans-serif;
	font-weight: 500;
	display: flex;
	justify-content: center;
	text-align: center;
}

.galleryTitle span {
	font-weight: 800;
}
.startHeading {
	margin-top: 20px;
}
.endHeading {
	margin-top: -50px;
	margin-bottom: 50px;
}

.galleryWrapper {
	display: flex;
	flex-wrap: nowrap;
	overflow: scroll;
	width: 1100px;
	background-color: #414141;
	border: 5px inset rgb(0, 195, 255);
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.698);
	border-radius: 10px;
	gap: 1rem;
}

.galleryImageContainer {
	position: relative;
	width: 300px;
	height: 300px;
	display: flex;
	margin: 0.5rem;
	justify-content: center;
	align-items: center;
	border-radius: 10%;
	overflow: hidden;
}

.galleryImages {
	width: 96%;
	height: 96%;
	border-radius: 10%;
	z-index: 2;
	cursor: pointer;
}

.galleryImageContainer:hover::before {
	content: "";
	position: absolute;
	width: 200px;
	height: 140%;
	background: linear-gradient(to bottom, rgb(65, 179, 255), rgb(65, 179, 255));
	animation: rotate 2s linear infinite;
}

.galleryImageContainer:hover::after {
	content: "";
	position: absolute;
	background: rgba(255, 255, 255, 0);
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.artworkWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.artworkInsideWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.artworkTextDiv1 {
	width: 300px;
	text-align: center;
}

.artworkTextDiv2 {
	width: 300px;
}

.modalOverlay {
	background-color: rgba(0, 0, 0, 0.493);
}

.modalContainer {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.664);
	z-index: 100;
	position: absolute;
	top: -100px;
	left: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1400px;
	height: 80%;
	background-color: #4c849a;
	z-index: 1;
	border-radius: 12px;
	box-shadow: 11px 11px 11px 11px rgba(0, 0, 0, 0.698);
}

.modalHeader {
	width: 100%;
	height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBody {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 1200px;
	height: 70%;
}

.modalTitle {
	color: rgb(216, 198, 159);
	text-align: center;
	margin-top: 5px;
	font-size: 2.5rem;
}

.modalArtistDiv,
.modalImageDiv,
.modalArtworkDetailDiv {
	width: 33%;
}

.modalArtistDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	height: 300px;
	color: rgb(216, 198, 159);
	text-align: center;
	font-size: 1rem;
	background-color: rgba(54, 53, 53, 0.515);
	border-radius: 10px;
	padding: 10px;
	box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.666);
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.modalImageDiv {
    display: flex;
	justify-content: center;
}

.modalImage {
	width: 400px;
	height: 400px;
	margin: 1rem;
	border: 5px inset white;
	border-radius: 12px;
	box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.666);
}

.modalArtworkDetailDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	height: 300px;
	color: rgb(216, 198, 159);
	font-size: 1rem;
	background-color: rgba(54, 53, 53, 0.515);
	padding: 10px;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.666);
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.modalCloseBtn {
	width: 16rem;
	font-size: 2rem;
	margin-bottom: 4rem;
	background-color: #4c849a;
	border-radius: 10px;
	border: 4px inset white;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.499);
}

.modalCloseBtn:hover {
	background-color: #7c97a0;
	color: white;
}

span {
	color: black;
}

.art-caption {
	font-size: 1.5rem;
	color: rgb(216, 198, 159);
}

.artist-photo {
	width: 150px;
	height: auto;
	border: 5px inset rgba(67, 202, 255, 0.963);
	border-radius: 10px;
}

.hide {
	display: none;
}

@media only screen and (max-width: 1600px) {
	.modalContent {
		width: 1400px;
	}
	.modalBody {
		width: 1200px;
	}
	.modalArtistDiv,
	.modalImageDiv,
	.modalArtworkDetailDiv {
		width: 300px;
	}
}

@media only screen and (max-width: 1200px) {
	.galleryWrapper {
		width: 900px;
	}
	.modalContent {
		width: 1000px;
	}
	.modalBody {
		width: 1000px;
		height: 60%;
	}
	.modalArtistDiv,
	.modalImageDiv,
	.modalArtworkDetailDiv {
		width: 280px;
	}
    .modalImage {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 1024px) {
	.galleryTitle {
		font-size: 2.5rem;
	}
	.galleryWrapper {
		width: 700px;
	}
	.modalContent {
		width: 750px;
	}
	.modalBody {
		width: 700px;
	}
	.modalArtistDiv,
	.modalImageDiv,
	.modalArtworkDetailDiv {
		width: 200px;
		height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.modalImageDiv {
		display: flex;
		justify-content: center;
	}
	.modalImage {
		width: 225px;
		height: 225px;
	}
	.art-caption {
		font-size: 1.25rem;
	}
	.modalCloseBtn {
		width: 8rem;
		font-size: 1.5rem;
		margin-bottom: 4rem;
	}
}

@media only screen and (max-width: 768px) {
	.galleryTitle {
		font-size: 2rem;
	}
	.galleryWrapper {
		width: 350px;
		height: 475px;
		flex-direction: column;
		align-items: center;
		padding: 2px;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 20px;
		height: 2rem;
	}
	.modalBody {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 360px;
		height: 360px;
		overflow-y: scroll;
		padding: 20px 0px;
	}
	.modalArtistDiv {
		width: 300px;
		height: 300px;
		color: rgb(216, 198, 159);
		text-align: center;
	}

	.modalImageDiv {
		display: flex;
		justify-content: center;
	}

	.modalImage {
		margin-top: 60px;
		width: 300px;
		height: 300px;
	}
	.modalArtworkDetailDiv {
		margin-top: 60px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 300px;
		height: 300px;
	}
	.modalCloseBtn {
		width: 8rem;
		font-size: 1.5rem;
		margin-bottom: 4rem;
	}
	.modalTitle {
		font-size: 1.75rem;
	}
}

