::-webkit-scrollbar {
    height: 1.5rem;
  }
  
  /* track */
  ::-webkit-scrollbar-track {
    background: #7b8386;
  }
  
  /* handle */
  ::-webkit-scrollbar-thumb {
    background: #00c3ff;
    border-radius: 10px;
  }
  
  /* handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }

  body {
    width: 100vw;
	line-height: 1.5;
	background-image: url(./images/background.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -100;
	position: relative;
	overflow: hidden;
}

.galleryMain {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100vw;
    height: 100vh;

}

.galleryTitle {
    color: white;
    font-size: 3rem;
}

.galleryWrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: hidden;
    height: 320px + 2rem;
    width: 1100px;
    background-color: #9ea8ac;
    z-index: 1;
}

.galleryImages {
    width: 300px;
    height: 300px;
    margin: 1rem;
    border: 5px inset white;
    border-radius: 10px;
}